
.buttonitemcart {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.pricecart {
    font-size: 2.5rem;
}


.itempax {
    width: 30px;
    font-size: 2.5rem;
    color: var(--secondary-dark);
    font-weight: 400;
}

h4.titlecart {
    font-size: 2rem;
    color: #C49D48;
    text-transform: uppercase;
    justify-content: center;
    display: flex;
    font-weight: 400;
}