.containerHome {
    height: 100vh;
    background-image: url('../../assets/buenos\ aires.jpg');
    background-size: cover;
    background-position: center;
}

.mainTitle {
    margin-top: 20vh;
    margin-left: 15vh;
    font-size: 9vh;
    font-weight: 700;
}

.subTitle {
    margin-top: 4vh;
    margin-left: 16vh;
    font-size: 2.8vh;
    font-weight: 400;
}
.explore{
    display: flex;
    justify-content: center;
}

.explore .btn {
    margin-top: 70px;
    border-color: transparent;
    justify-content: center;
}


/* CITIES----------------------- */
.cities .btn-outline-secondary {
    font-size: 1.5vh;
    font-weight: 200;
    padding: 1vh;
    display: flex;
    flex-direction: row;
}
.cities {
    display: flex;
    width: min(980px, 85%);
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: min(20vh, 5em);
    
}
.citiesHeader {
    margin-bottom: 55px;
    overflow: hidden;
 
}
.citiesHeader h1{
    font-weight: 500;
    font-size: 4rem;
    font-family: Raleway;
    margin: 5px -5px 15px;
    color: #634100;
}
.citiesHeader span{
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    font-size: 90px;
    color: #C49D48;
}
.citiesHeader p{
    max-width: min(40ch, 100% - 2rem);
    line-height: 1.6;
    color: #565656;
}
.cityInfos {
    padding: 20vh 0vh 20vh 0vh;
    height: fit-content;

}
.item {
    width: 100%;
    height: 400px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}
 .item  img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      inset: 0;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 28px 25px;
    color: #fff;
    background: rgb(197, 144, 75);
    background: linear-gradient(
      0deg,
      #020024 0%,
      #000032a1 3%,
      #17d9ff00 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 28px 25px;
    color: #fff;
    background: rgb(197, 144, 75);
    background: linear-gradient(
      0deg,
      #020024 0%,
      #000032a1 3%,
      #17d9ff00 100%
    );
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.overlay3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 28px 25px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.overlay span {
    background: #C49D48;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 60px;
    padding: 10px 20px;
    display: inline-block;
  }
.overlay2 span {
    background: #005B4C;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 60px;
    padding: 10px 20px;
    display: inline-block;
  }

/* EXPERIENCES----------------------- */
  .expExplore{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 30px;
  }
  .experiences {

    display: flex;
    width: min(980px, 85%);
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: min(20vh, 5em);
}
.experiencesHeader {
    margin-bottom: 55px;
}
.experiencesHeader h1{
    font-weight: 500;
    font-size: 4rem;
    font-family: Raleway;
    margin: 5px -5px 15px;
    color: #C49D48;
}
.experiencesHeader span{
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    font-size: 90px;
    color: #005B4C;
}
.experiencesHeader p{
    max-width: min(40ch, 100% - 2rem);
    line-height: 1.6;
    font-weight: 500;
    color: #565656;
}

/* VIDEOS----------------------- */

.vidExplore{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;

  }
  .videos {

    display: flex;
    width: min(980px, 85%);
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-block: min(20vh, 5em);
}

.videosHeader h1{
    font-weight: 500;
    font-size: 4rem;
    font-family: Raleway;
    margin: 5px -5px 15px;
    color: #005B4C;
}
.videosHeader span{
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    font-size: 90px;
    color: #634100;
}
.videosHeader p{
    max-width: min(40ch, 100% - 2rem);
    line-height: 1.6;
    color: #565656;
    font-weight: 500;
}

/* CONTACT----------------------- */

.contactUs{
    display: flex;
    width: min(100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-image: url('../../assets/vive\ argentina.png');
    background-color: #dedcd9;
    background-repeat: no-repeat;
    background-position: left; 
}
.wrapperContact{
    font-size: x-large;

}


@media screen and (max-width: 940px) {
    .form input[type=text] {
        max-width: 275px;
    }

}