

  .cell-1 {
    border-collapse: separate;
    border-spacing: 0 4em;
    background: #fff;
    border-bottom: 5px solid transparent;
    /*background-color: gold;*/
    background-clip: padding-box;
  }
  
  thead {
    background: #dddcdc;
  }
  
td.datescol {
  width: 185px;
  padding: 0 5%;
  text-align: center;
}

.vertalign {
  vertical-align: middle;
}
.paymentstyle {
  text-transform: capitalize;
}
.datesale {
  width: 150px;
  padding: 0 3%;
  text-align: center;
}

  .btn-new-pack {
    width: 160px;
    height: 50px;
    background: none;
    border-radius: 10px;
    padding: 6px;
    font-size: 14px;
    cursor: pointer;
  }
  
  
