
.itemmytrips {
    display: inline-flex;
}

.itemmyfavs {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}

.tripicon {
    font-size: 2rem;
}

.favheart {
    font-size: 2rem;
}

.registerbutton, .loginbutton {
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
    font-family: Raleway;
    border-color: #C49D48;
    color:#C49D48;
    font-size: 15px;
}
