.col-md.titleh2 {
    font-size: 7vh;
}
ul.iconsexperience {
    padding-right: 4vh;
    margin: 3vh 6vh 4vh 0vh;
}

.iconsexperience {
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    font-size: 1.7rem;
    font-weight: bold;

}
.iconsexperience li i {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 0 0 10px;
}
.scoreexperience {
    list-style: none;
    display: inline-flex;
    justify-content: space-between;
    padding: 0;
}

.experiencesbuttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2vh;
}

.separator {
    height: 50px;
}

.categoryicons {
    display: flex;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
}
.categoryicons li:hover {
    color: #C49D48;
}

.categoryicons li i {
    font-size: 3rem;
}
.priceandcart {
    display: inline-flex;
    align-items: baseline;
}

.imgmodalpackages {
    object-fit: cover;
    object-position: center;
    height: 300px;
    width: 100%;
}
.cantpackages {
    max-width: 100px;
    text-align: center;
    font-size: 1.7rem;
    font-weight: bold;
}
.modaldescription {
    font-size: 1.3rem;
}
.iconsmodal {
    margin: 0 auto;
    font-size: 2rem;
    font-weight: bold;
    color: green;
    display: flex;
    justify-content: space-around;
}
h2.titlepackages{
    text-transform: uppercase;
    font-weight: 500;
    color: #c49d48;
}

i {
    color: #c49d48;
    font-size: 1.5rem;
}