
.nav img {
    width: 20vh;
    margin-top: 1vh;
}

.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: #C49D48;
  transition: 0.3s ease-in;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0; 
  transition: 1s;
  opacity: 0.9;

}




@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    margin-top: 2vh;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 0vh;
    right: 0;
    height: 100vh;
    width: 50vw;
    background: grey;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
  .nav__active {
    transform: translateX(0%);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
/* Active Class */



/* Toggle Icon Animation */

.toggle .line1 {

  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}
li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #C49D48;
}