

.navbar {
    position: fixed;
    /* z-index: 99999; */
}
.nav-item {
    width: 100%;
    color: white;
    text-transform: uppercase;
    font-size: large;
    font-weight: 400;
}

.nav-item-img{
    border-radius: 50px;
    margin-left: 50px;
    max-height: 6vh;
}
.usernavbaritem {
    display: inline-flex;
}
