.container__sidebar .sidebar{
    position: fixed;
    background-color: #fff;
    height: 100vh;
    width: 250px;
    z-index: 10;
    margin-top: 80px;
    padding-left: 20px;
    box-shadow: 0px 15px 30px rgba(0,0,0,0.1);
}

li.sidebarbutton {
    padding:12px;
    cursor:pointer;
    transition:all 0.5s;
    letter-spacing:1px;
    display:flex;
    align-items:center;
    gap:10px;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
}

li.sidebarbutton:hover {
  color:#fff !important;
  border-top-left-radius:30px;
  border-bottom-left-radius:30px;
  background-color:  #c49d48;
}

.container__sidebar .content{
    padding-left:75px;
}
