
html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
}
li {
  list-style: none;
  
}
a {
  text-decoration: none;
  color: rgb(204, 204, 204);
}

.nav {
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1vh;
  margin-left: 10vh;
  margin-right: 10vh;
  
}
.nav img {
    width: 20vh;
    margin-top: 1vh;
}

.nav__menu {

  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 3rem;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  margin: 0.4rem;
  background: #ffffff;
  transition: 0.3s ease-in;
}

@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 50vw;
    background: grey;
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in;
  }
}
/* Active Class */
.nav__active {
  transform: translateX(0%);
}

/* Toggle Icon Animation */

.toggle .line1 {
  transform: rotate(-45deg) translate(-4px, 5px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-4px, -5px);
}
li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #C49D48;
}