@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap');
:root {
  --primary-dark: #04151F;
  --secondary-dark: #278BC9;
  --primary-light: #C49D48;
  --secondary-light: #EFD6AC;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3.5rem;
  font-weight: 500;
  color: #ffffff;
  text-shadow: 1px 1px 2px var(--secondary-light);

}
h3 {
  font-size: 2rem;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 1px 1px 2px var(--secondary-light);


}

.container {
  max-width: 1240px;
}

button {
  border: 1px solid var(--primary-dark);
  background-color: #ffffff;
  padding: 1.5vh 1.8vh;
  border-radius: 33px;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  

}

form#formFilter {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin: 4vh;
  font-size: 1.5vh;
  
}

.form-label, .form-check-label {
  margin-bottom: 0.1rem;
  margin-top: 0.6rem;
  font-size: 1.3rem;
  font-weight: bold;
}

@media screen and (max-width: 940px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.5rem;
  }
}